@model EpicOne.Models.Luoghi

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Luoghi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Indirizzo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Indirizzo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Città)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Città)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacità)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacità)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LuogoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
